# .github/workflows/deploy.yml
name: Deploy Node.js Application

on:
  push:
    branches: [ master ]
jobs:
  test:
    name: Testing the Application
    runs-on: ubuntu-latest
    # if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    environment: dev
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Load Image
      uses: docker/build-push-action@v6
      with:
        load: true
        tags: web-app:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run docker container
      run: docker run -d -p 3000:3000 --name web-app-container web-app:latest

    - name: Wait the Application to Start
      run: sleep 5

    - name: Run Test
      run : curl localhost:3000


    - name: Push to Docker Hub
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ vars.DOCKERHUB_USERNAME}}/web-app:latest
  deploy:
    name: Deploying the application
    runs-on: ubuntu-latest
    environment: dev
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install boto3 ansible

      - name: Check ansible node-version
        run: ansible --version

      - name: Install Ansible AWS collection
        run: |
          ansible-galaxy collection install amazon.aws
          ansible-galaxy collection install community.aws
          ansible-galaxy role install geerlingguy.docker

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/server.pem
          chmod 600 ~/.ssh/server.pem

      # - name: Test AWS EC2 inventory plugin
      #   run: |
      #     cd ./ansible
      #     ANSIBLE_PRIVATE_KEY_FILE=~/.ssh/server.pem ENVIRONMENT=dev ansible-inventory --list

      - name: Deploy with Ansible
        run: |
          cd ./ansible
          ANSIBLE_PRIVATE_KEY_FILE=~/.ssh/server.pem ENVIRONMENT=dev ansible-playbook playbook.yaml
    # - name: Verify deployment
    #   run: |
    #     cd ansible
    #     ansible tag_Application_nodejs_app -i inventory/aws_ec2.yml -m shell -a "pm2 status"

    # - name: Health check
    #   run: |
    #     sleep 30
    #     LB_DNS="${{ needs.terraform.outputs.load_balancer_dns }}"
    #     for i in {1..10}; do
    #       if curl -f "http://$LB_DNS"; then
    #         echo "Health check passed!"
    #         break
    #       fi
    #       echo "Attempt $i failed, retrying..."
    #       sleep 10
    #     done

  # test:
  #   name: Test Application
  #   runs-on: ubuntu-latest
    
  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v3

  #   - name: Setup Node.js
  #     uses: actions/setup-node@v3
  #     with:
  #       node-version: '18'
  #       cache: 'npm'

  #   - name: Install dependencies
  #     run: npm ci

  #   - name: Run tests
  #     run: npm test

  #   - name: Run linting
  #     run: npm run lint